.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Vector {
  width: 0.9423828125em;
}

.icon-brend {
  width: 1.7666015625em;
}

.icon-company {
  width: 1.7666015625em;
}

.icon-foster-peters {
  width: 1.7666015625em;
}

.icon-krug {
  width: 1.7666015625em;
}

.icon-kub {
  width: 1.7666015625em;
}

.icon-Logo {
  width: 1.7666015625em;
}

.icon-macbook {
  width: 1.2958984375em;
}

.icon-poshta {
  width: 1.3330078125em;
}

.icon-tel {
  width: 0.625em;
}

.icon-wotch {
  width: 0.9716796875em;
}
